body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.app-container {
  width: 375px;
  max-width: 100vw;
  height: 812px; 
  background-color: #051e5a;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);
  overflow: auto;
  position: relative;
}

.header {
  background-color: #051e5a;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.header img {
  height: 60px;
  width: auto;
}

.header h1 {
    color: #f0f0f0;
    font-family: "Piazzolla", serif;
    font-weight: normal;
}

.advanced-search-section {
    padding: 5px 0 10px 0;
    display: flex;
    color: #f0f0f0;
    flex-direction: column;
}

.advanced-search-section h2 {
    font-family: "Piazzolla", serif;
    font-weight: normal;
    text-align: left;
    padding: 0 20px;
    margin: 0 0 15px 0;
}

.arrow {
    font-size: 22px;
    font-weight: bold;
}

.filter {
    background-color: #8592af;
    padding: 20px;
}

.filter p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.filter-button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family:  "Piazzolla", serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: #000;
}

.search-button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family:  "Piazzolla", serif;
    background-color: #980101;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f0f0f0;
}

.filter-button:last-child {
    margin-bottom: 0;
}

.search-section {
    padding: 0 0 10px 0;
}

.course-banner {
    background-color: #980101;
    padding: 5px;
    padding-left: 15px;
}

.course-banner h2 {
    color: #f0f0f0;
    font-family: "Piazzolla", serif;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
}

.course-title {
    background-color: #8592af;
    padding: 20px;
    color: #f0f0f0;
    font-family: "Piazzolla", serif;
    font-size: 15px;
}

.ratings-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.rating-box {
    flex: 1;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    color: white;
}

.rating-number {
    font-size: 20px;
    font-weight: bold;
    font-family: "Piazzolla", serif;
}

.rating-label {
    font-size: 14px;
    font-family: "Piazzolla", sans-serif;
}
